* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Poppins', sans-serif;
  background-color: #0c3527;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

/* Dark Theme */
body.dark {
  background-color: #1a1a1a;
  color: white;
}

/* Header */
.header {
  text-align: center;
  padding: 20px;
  background-color: #3887b4;
  color: white;
  position: relative;
}

.theme-toggle-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

h1 {
  font-size: 28px;
  margin-bottom: 15px;
}

/* Search Section */
.search-section {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border-radius: 8px;
}

.search-bar {
  padding: 15px;
  width: 60%;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.search-bar:focus {
  outline: none;
  border-color: #3887b4;
}

.search-btn {
  padding: 15px 25px;
  margin-left: 20px;
  background-color: #3887b4;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.search-btn:hover {
  background-color: #005f87;
}

/* Masjid List */
.masjid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}

.masjid-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.masjid-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.masjid-item h3 {
  color: #3887b4;
  font-size: 18px;
}

.masjid-item p {
  color: #777;
}

/* Modal */
.masjid-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto;
  padding-top: 60px;
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

/* Floating Action Button */
.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3887b4;
  color: white;
  border-radius: 50%;
  padding: 20px;
  font-size: 24px;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.fab:hover {
  transform: scale(1.1);
}
