body {
    font-family: Arial, sans-serif;
    background-color: #f3fdf3;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

h1 {
    color: #34d399;
}

.tv-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.tv-card {
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.tv-card h2 {
    color: #34d399;
}
